<footer style="background: rgb(36, 36, 36); text-align: center; margin-top: auto; padding:10px ;">
    <h4 style="color:rgb(202, 202, 202); ">Baja Blast DD - Made by <a
        style="text-decoration: underline; text-decoration-color:rgb(91, 243, 159);" href="https://github.com/gurubac"
        target="_blank" rel="noopener noreferrer"><span style="color:rgb(91, 243, 159);">Guru</span></a> and <a style="text-decoration: underline;  text-decoration-color:rgb(184, 105, 230);"
        href="https://github.com/jmahir408" target="_blank" rel="noopener noreferrer"><span
          style="color:rgb(184, 105, 230)">Mahir</span></a></h4>
  </footer>
