
 <!DOCTYPE html>
<html>
<head>
<title>Baja Blast Contact Form</title>
<head>
  <title>Contact Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type = "text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap" />
<link rel="stylesheet" type = "text/css" href="../assets/css/styles.css" />
<link rel="stylesheet" type = "text/css" href="../styles/dropdown.css" />
<link rel="stylesheet" type = "text/css" href="../styles/gradient-navbar.css" />
<link rel="stylesheet" type = "text/css" href="../styles/Navbar---Logo-Middle---Phone-Logo-Middle.css" />
<link rel="stylesheet" type = "text/css" href="../assets/css/util.css" />
<link rel="stylesheet" type = "text/css" href="../assets/css/main.css" />
</head>
<body>


  <div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form" method='POST' action='http://localhost:3000/mailphp/contact.php'>
        <span class="contact100-form-title">
          Say Hello!
        </span>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Your Name</span>
          <input class="input100" type="text" name="name" placeholder="Enter your name">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Email</span>
          <input class="input100" type="text" name="email" placeholder="Enter your email addess">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
          <span class="label-input100">Location Suggestion</span>
          <input class="input100" type="text" name="email" placeholder="Enter your email addess">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Message is required">
          <span class="label-input100">Message</span>
          <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn">
              <span>
                Submit
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


 <script src="../assets/bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="../scripts/main.js"></script>

</script>
</body>
</html> 