<!DOCTYPE html>
<html lang="en" style="color: rgb(0, 0, 0); font-family: Aclonica, sans-serif">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>blast</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body
    style="
      color: rgb(59, 146, 195);
      background: rgb(40, 44, 44);
      font-family: Alatsi, sans-serif;
    "
  >
    <div style="border-color: rgb(75, 166, 52)">
      <h1
        style="
          color: rgb(0, 255, 148);
          text-align: center;
          font-size: 100px;
          font-family: Alatsi, sans-serif;
        "
      >
        Baja Blast Down Detector
      </h1>
      <p
        style="
          color: #49ffb2;
          font-size: 30px;
          text-align: center;
          border-color: rgb(33, 217, 74);
        "
      >
        truss
      </p>
    </div>
    <div class="text-warning">
      <div class="container">
        <div
          class="row"
          style="
            font-size: 30px;
            color: rgb(139, 142, 143);
            text-decoration: underline;
          "
        >
          <div class="col-md-4">
            <p
              class="text-center"
              style="
                text-align: center;
                margin: 0px 0px 0px;
                font-size: 30px;
                color: rgb(64, 255, 95);
              "
            >
              About Us
            </p>
            <form id="form"> 
                <input type="search" id="query" name="q" placeholder="Search...">
                <button>Search</button>
            </form>
          </div>
          <div class="col-md-4"><p class="text-center">FAQ</p></div>
          <div class="col-md-4"><p class="text-center">Github</p></div>
        </div>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
