<!DOCTYPE html>
<html lang="en" style="color: rgb(0, 0, 0); font-family: Aclonica, sans-serif">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Baja Blast Down Detector</title>
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap" />
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <link rel="stylesheet" href="../dropdown.css" />
</head>

<body style="
      color: rgb(59, 146, 195);
      background: rgb(40, 44, 44);
      font-family: Alatsi, sans-serif;
    ">
  <div style="border-color: rgb(75, 166, 52)">
    <h1 style="
          color: rgb(0, 255, 148);
          text-align: center;
          font-size: 100px;
          font-family: Alatsi, sans-serif;
        ">
      Baja Blast Down Detector
    </h1>
    <p style="
          color: #49ffb2;
          font-size: 30px;
          text-align: center;
          border-color: rgb(33, 217, 74);
        ">
    </p>
  </div>
  <div class="text-warning">
    <div class="container">
      <div class="row" style="
            font-size: 30px;
            color: rgb(139, 142, 143);
            text-decoration: underline;
          ">
        <div class="col-md-4">
          <p class="text-center" style="
                text-align: center;
                margin: 0px 0px 0px;
                font-size: 30px;
                color: rgb(64, 255, 95);
              ">
            About Us
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">FAQ</p>
        </div>
        <div class="col-md-4">
          <p class="text-center">Github</p>
        </div>
      </div>
    </div>
  </div>

<!-- Search bar code to display each location in database with a forEach loop to loop through the response rendered from server by res.render (line 31). -->
<div class = "center" >
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter a location..." title="Type in a name">
    <ul id="myUL">
      <%locationList.forEach(location=> {%>
        <li>
          <a href="<%= `${location.address}` %> ">
            <%= `${location.address}, ${location.city} ${location.state} ${location.zip}` %>
          </a>
        </li>
      <%})%>
    </ul>
  </div>
    <!-- Search bar front end filter code -->
    <script>
      function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        


        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
        
          //if text matches, show the matching item
         if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            //if text does not match the item, do not show the item
            li[i].style.display = "none";
          }
        }
      }



    </script>
    <!-- <script src="../assets/bootstrap/js/main.js"></script> -->
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>