<!DOCTYPE html>
<html lang="en" style="color: rgb(0, 0, 0); font-family: Aclonica, sans-serif">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Baja Blast Down Detector</title>
  <link rel="stylesheet" type = "text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap" />
  <link rel="stylesheet" type = "text/css" href="../assets/css/styles.css" />
  <link rel="stylesheet" type = "text/css" href="../styles/dropdown.css" />
  <link rel="stylesheet" type = "text/css" href="../styles/gradient-navbar.css" />
  <link rel="stylesheet" type = "text/css" href="../styles/Navbar---Logo-Middle---Phone-Logo-Middle.css" />
  <link rel="stylesheet" type = "text/css" href="../styles/styles.css" />
  <!-- favicon -->
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    height: 100%;
    width: 60%;
    background-color: rgb(110, 110, 110);
    margin: 0 auto;

  }

  #panel {
    height: 100%;
    width: null;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
  }

  .open {
    width: 250px;
  }

  /* Styling for place details */
  .hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
  }

  .place,
  p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
  }

  .details {
    color: darkslategrey;
  }
</style>

<body style="
  display: flex;
  flex-direction : column;
  min-height: 100vh;
  color: #3b92c3;
  background: rgb(40, 44, 44);
  font-family: Alatsi, sans-serif;
  width: 100%; ">
 <div id=" divtop" style="
        border-color: rgb(75, 166, 52);
        width: 100%;
        height: 10%; 
        filter: saturate(150%);
      ">
    <nav class="navbar navbar-dark navbar-expand-lg" id="app-navbar" style="width: 100%; align-content: center">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="padding-top: 5px; margin-right: 26px"><img src="../img/bajablast.png"
            style="
                width: 60px;
                padding-right: 0px;
                margin-bottom: 0px;
                margin-right: 0px;
                margin-left: 12px;
              " /></a>
        <div>
          <h1 style="font-size: 227%; color: rgb(0, 0, 0); margin-left: 4px">
            Baja Blast
          </h1>
          <h1 style="
                font-size: 122%;
                text-align: center;
                color: rgb(0, 0, 0);
                margin-left: 4px;
              ">
            Down Detector
          </h1>
        </div>
        <img src="../img/bell.png" style="width: 59px; transform: translate(6px); margin-right: 1%" />
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="
              filter: brightness(200%) invert(100%) saturate(100%);
              border: 2px solid rgb(60, 113, 42);
              margin-right: -10px;
              margin-left: 4px;
            ">
          <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gurubac/bajablastr" style="color: rgb(0, 0, 0)"
                target="_blank" rel="noopener noreferrer">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" style="color: rgb(0, 0, 0)">Contact</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
  <br>
  <!-- search bar code -->
  <div class="center" style="margin-bottom: 10px;">
    <input class="corners" type="text" id="myInput" onkeyup="searchAddress()" placeholder="Enter a location..."
      title="Search for a Location" >
    <div class = "space"></div>
    <ul id="myUL">
      <%locationList.forEach(location=> {%>
        <li>
          <a href="<%= `${location.address}` %> ">
            <%= `${location.address}, ${location.city} ${location.state} ${location.zip}` %>
          </a>
        </li>

        <%})%>
    </ul>
  </div>

  <div id="panel"></div>

  <!-- Map appears here -->
  <div id="map"></div>

  <%- include('partials/footer') %>

  <!-- Search bar front end filter code -->

  <script type="text/js" src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../scripts/map.js"></script>
 <script src = "../scripts/search.js"></script>
 <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRux7Rt1Vq6rO-zjtfQ7zYxUQabz3suOY&libraries=places&callback=initMap">
    </script>
</body>

</html>