<!DOCTYPE html>
<html lang="en" style="color: rgb(0, 0, 0);font-family: Aclonica, sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>blast</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="color: rgb(59,146,195);background: rgb(40,44,44);font-family: Alatsi, sans-serif;">
    <div style="border-color: rgb(75,166,52);">
        <h1 style="color: rgb(0,255,148);text-align: center;font-size: 100px;font-family: Alatsi, sans-serif;">Baja
            Blast Down Detector</h1>
        <p style="color: #49ffb2;font-size: 30px;text-align: center;border-color: rgb(33,217,74);">&nbsp;</p>
    </div>
    <div>
        <div class="container" style="background: #73777a;height: 500px;">
            <div class="row" style="color: rgb(42,145,203);border-color: rgb(30,50,61);">
                <div class="col-md-6" style="width: 660px;height: 298px;">
                    <h1
                        style="border-color: rgb(3,252,148);color: rgb(3,252,148);text-align: center;padding-top: 10px;">
                        Is the machine working?</h1>
                    <div class="btn-group" role="group"
                        style="transform: translate(72px);width: 450px;color: rgb(78,55,56);border-color: transparent;height: 200px;padding-top: 80px;">
                        
                        <!-- yes button -->
                        <button class="btn btn-primary" type="button" id = "yesButton" onclick = "yesSubmit();"
                            style="transform: translate(-8px);background: rgb(3,252,148);color: rgb(28,27,27);border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;font-size: 40px;width: 130.84px;height: 200px;">YES
                            :)</button>
                            
                        <!-- no button -->
                            <button class="btn btn-primary" type="button" id = "noButton" onclick = "noSubmit();"
                            style="transform: translate(22px);background: rgb(200,13,13);border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;font-size: 40px;width: 130px;height: 200px;color: rgb(255,255,255);">NO
                            :(</button></div>
                </div>
                <div class="col-md-6" style="background: rgb(48,48,48);width: 660px;height: 500px; overflow: auto">
                    <h1 style="text-align: center;color: rgb(3,252,148);padding: 10px;">Recent Results</h1>
                    <div style="padding-top: 10px;">
                        <% for (let i = location.comment.length - 1; i >= location.comment.length - 50 && i >= 0; i--) { %>
                            <% //machine working scenario%>
                            <% if (location.comment[i].status == "WORKING") {%> 
                                <p style="background: #03fc94;border: 3px solid rgb(68,68,68);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;color: rgb(0,0,0);text-align: center;">
                                    <%= `STATUS: ${location.comment[i].status} - ${location.comment[i].timestamp}`%>
                                </p>
                            <% } else if (location.comment[i].status == "NOT WORKING"){ %> 
                                <p style="background: #c80d0d;color: rgb(255,255,255);text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border: 3px solid rgb(68,68,68) ;">
                                    <%= `STATUS: ${location.comment[i].status} - ${location.comment[i].timestamp}`%>&nbsp;
                                </p>
                            <% } %>  
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-warning">
        <div class="container">
            <div class="row" style="font-size: 30px;color: rgb(139,142,143);text-decoration:  underline;">
                <div class="col-md-4">
                    <p class="text-center"
                        style="text-align: center;margin: 0px 0px 0px;font-size: 30px;color: rgb(64,255,95);">About Us
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-center">FAQ</p>
                </div>
                <div class="col-md-4">
                    <a href = "https://github.com/gurubac/bajablastR">
                        <p class="text-center"
                            style="text-align: center;margin: 0px 0px 0px;font-size: 30px;color: rgb(64,255,95);">Github
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function yesSubmit() {
            console.log("yes button was clicked")
            let timestamp = moment(new Date()).format("h:mm A - MMMM Do, YYYY");
            let status = "WORKING"

            let data = {
                timestamp: timestamp,
                status: status
            };
            
            fetch('http://localhost:3000/api/info', {
                method: 'POST',
                mode:'cors',
                body: JSON.stringify(data),
                headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
    .then(response => response.json())
    .then(json => {
        console.log(json);
    });
    window.location = window.location
        }

        function noSubmit() {
            console.log("no button was clicked")
            let timestamp = moment(new Date()).format("h:mm A - MMMM Do, YYYY");
            let status = "NOT WORKING"

            let data = {
                timestamp: timestamp,
                status: status
            };
            
            fetch('http://localhost:3000/api/info', {
                method: 'POST',
                mode:'cors',
                body: JSON.stringify(data),
                headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
    .then(response => response.json())
    .then(json => {
        console.log(json);
    });
    window.top.location = window.top.location

    }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>