.center{
    text-align: center;
    align-items: center;
}
.corners{
    border-radius: 25px;
    border: 1px solid #000000;
    background-color:rgb(138, 137, 137);
}

.space{
    margin-top: 17px;
    
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
.BajaBlastWords{
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
padding-top: 5%;
/* height: auto; */
}
@media screen and (max-width: 767px) {   
    /*PHONE*/
    .BajaBlastWords{
        display: block;
margin-left: auto;
margin-right: auto;
width: 91%;
/* height:9%; */
padding-top: 5%;
    } 

}

@media screen and (min-width: 768px) {      
    /* DESKTOP */
    .BajaBlastWords{     
         display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        padding-top: 1%;
    	
    } 
} 