.center{
    text-align: center;
    align-items: center;
    padding-top: calc(innerHeight - 500);
}
.corners{
    border-radius: 25px;
    border: 1px solid #000000;
    background-color:rgb(138, 137, 137);
}

.space{
    margin-top: 17px;
    
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }