html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 60%;
  background-color: rgb(110, 110, 110);
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /*PHONE*/
  #map {
    height: 100%;
    width: 85%;
    background-color: rgb(110, 110, 110);
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  /* DESKTOP */
  #map {
    height: 100%;
    width: 60%;
    background-color: rgb(110, 110, 110);
    margin: 0 auto;
  }
}
#panel {
  transform: translate(0, 52%);
  height: 60%;
  width: null;
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow-x: auto;
  transition: all 0.2s ease-out;
}
.open {
  width: 250px;
}
/* Styling for place details */
.hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
}
.place,
p {
  font-family: "open sans", arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
}
.details {
  color: darkslategrey;
}
