
footer {
  margin-top: auto;
}

/*www*/
#bruh {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#divtop {
  display: flex;
  justify-content: center;
  width: 100px;
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

/* body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  text-align: center;
} */
/* button {
  padding: 20px;
  margin: 10px;
  align-self: center; */
}
.preloader {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
}