#unsure {

  display: flex;
  flex-direction : column;
  min-height: 100vh;
  color: #3b92c3;
  background: rgb(40, 44, 44);
  font-family: Alatsi, sans-serif;
  width: 100%;
}

footer {

  margin-top: auto;
}

/*www*/
#bruh {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#divtop {
  display: flex;
  justify-content: center;
  width: 100px;
}
